/* .kode-mono-calculatorFont {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: rgb(229, 229, 229);
}

.header {
    height: 100px;
}

.bodyContainer {
    display: flex;
    flex: 1;
    margin-top: auto;
    justify-content: center;
    padding-top: 50px;
}

.calculatorContainer {
    height: 600px;
    width: 450px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(14, 14, 16);
}

#calculatorScreen {
    width: 450px;
    height: 125px;
    margin-bottom: 25px;
    border-bottom: 2px solid black;
}

#screenParagraph {
    color: white;
    text-align: right;
    font-family: "Kode Mono", monospace;
    font-size: 100px;
    padding-right: 5px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

/* borrowed this code from w3 schools: https://www.w3schools.com/howto/howto_css_animate_buttons.asp */
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.bigButton {
    height: 70px;
    width: 320px;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
}

.bigButton:hover {
    background-color: rgb(92, 92, 92);
}

.littleButton {
    height: 70px;
    width: 100px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}

.littleButton:hover {
    background-color: rgb(72, 72, 72);
}

.littleButtonRight {
    height: 70px;
    width: 100px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}

.littleButtonRight:hover {
    background-color: rgb(209, 112, 0);
}

.mediumButton {
    height: 70px;
    width: 210px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}

.mediumButton:hover {
    background-color: rgb(72, 72, 72);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 12px;
}